.buttonpilih{
  width: auto;
  height: 60px;
  }
.hasil {
  height: 60px;
  background-color: wheat;
  width: 100%;
}

.hasil p {
  font-size: 40px;
  margin: 5px;
  text-align: center;

}

.fullkalkulator {
  max-width: 400px;
  margin: auto;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(112, 64, 224);
}